@using System.Web.UI.HtmlControls
@using ssp2.Models
@model ssp2.Controllers.WorkerContext
@{
    var workers = Model.Workers
        .Join(Model.Specialities,
        w => w.Speciality,
        s => s.SpecialityId,
        (w, s) => new
        {
            Id = w.Id,
            Fio = w.Fio,
            Age = w.Age,
            Speciality = w.Speciality,
            Payment = s.Payment,
            Img = s.Img
        });
}

<!DOCTYPE html>

<html>
<head>
    <title>ssp2</title>
    <link href="/Content/Site.css" rel="stylesheet">
</head>
<body>
<div>
    <h3>Workers</h3>
    <table>
        <tr class="table-header">
            <td class="invisible"></td>
            <td class="invisible"></td>
            <td>Fio</td>
            <td>Age</td>
            <td>Speciality</td>
            <td>Payment</td>
        </tr>
        <tr>
            @using (Html.BeginForm("Add", "Home", FormMethod.Post))
            {
                <tr>
                    <td class="invisible"></td>
                    <td class="invisible"></td>
                    <td><input type="search" name="fio" /></td>
                    <td><input type="number" value="0" min="0" max="100" name="age" /></td>
                    <td>
                        <select name="speciality">
                            @foreach (var s in Model.Specialities)
                            {
                                <option value="@s.SpecialityId">@s.SpecialityId</option>
                            }
                        </select>
                    </td>
                    <td><input type="submit" value="Add" /></td>
                </tr>
            }
        </tr>
        @foreach (var w in workers.ToList())
        {
            <tr>
                @using (Html.BeginForm("Update", "Home", new { idParam = w.Id }, FormMethod.Post))
                {
                    <td class="img-holder">
                        <img src="/Content/images/@w.Img">
                    </td>
                    <td>
                        <input type="submit" value="Update" class="small-input" />
                        @Html.ActionLink("Delеte", "Delete", "Home", new { idParam = w.Id }, null)
                    </td>
                    <td><input type="search" name="fio", value="@w.Fio"/></td>
                    <td><input type="number" name="age" min="0", max="100", value="@w.Age"/></td>
                    <td>
                        <select name="speciality">
                            <option value="@w.Speciality" selected="selected">@w.Speciality</option>
                            @foreach (var s in Model.Specialities
                                .Where(x => x.SpecialityId != w.Speciality).ToList())
                            {
                                <option value="@s.SpecialityId">@s.SpecialityId</option>
                            }
                        </select>
                    </td>
                }
                @using (Html.BeginForm("ChangePayment", "Home", new {spec = w.Speciality}, FormMethod.Post))
                {
                    <td>
                        <input type="number" value="@w.Payment" max="10000" min="0" name="pay" class="small-input"/>
                        <input type="submit" value="Update" class="small-input"/>
                    </td>
                }
            </tr>
            <tr>
                
                @using (Html.BeginForm("ChangeImage", "Home", new { spec = w.Speciality }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <td class="file-input" colspan="3">
                        <input type="file" class="small-input" name="upload" />
                    </td>
                    <td class="file-input" colspan="3">
                        <input type="submit" value="Update" class="small-input" />
                    </td>
                }
            </tr>
        }
        <tr class="table-header">
            <td class="invisible"></td>
            <td class="invisible"></td>
            <td>Fio</td>
            <td>Age</td>
            <td>Speciality</td>
            <td>Payment</td>
        </tr>
    </table>
</div>
</body>
</html>